<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PurchaseProducts</key>
	<dict>
		<key>full version</key>
		<string>com.inappsample.full</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>InApper</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.touchin.sooner.lite</string>
</dict>
</plist>
